.projects{
    padding-bottom: 130px;

    &-title{
        @include adaptive-value('font-size', 40, 22);
        color: #000;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 70px;
        border-bottom: 3px solid #57007B;
        padding-bottom: 15px;
        width: 110px;
        letter-spacing: 0.70px;
    }
}