@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

.service{
    padding-top: 150px;
    padding-bottom: 120px;

    &-title{
        @include adaptive-value('font-size', 40, 22);
        color: #000;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 70px;
    }

    &-icon{
        border: 1px solid #57007B;
        padding: 20px;
        border-radius: 50%;
    }

    &-image{
        @include adaptive-value('width', 55, 45)
    }

    &-card{
        border: 1px solid #000;
        @include flex(start, start);
        flex-direction: column;
        gap: 15px;
        padding: 30px 26px;
        width: 370px;
        border-radius: 2px
    }

    &-cards{
        @include flex(center, center);
        flex-wrap: wrap;
        gap: 40px;
    }
    &-card__title{
        color: var(--Gray-gray-800, hsl(218, 23%, 23%));
        font-family: Inter;
        font-size: 23px;
        font-style: normal;
        font-weight: 600;
        line-height: 136.523%;
    }
    
    &-items__title{
        color: #4A5568;
        font-feature-settings: 'salt' on;
        font-family: Inter;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 162.023%;
        text-align: start;
        // width: 290px;
        width: 100%;
    
    }

}    
